body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

circle {
    fill: lightcoral;
    stroke: black;
}

.svg {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
}
.header{
    text-align: center;
    font-size: 20px;
}
.navbar {
    width: 80%;
    margin-left: 10%;
    align-self: center;
    margin-bottom: 0px;
    border-style: solid solid hidden solid;
}
.container {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

path {
    fill: none;
    stroke: #000;
    stroke-width: .25px;
    stroke-linejoin: round;
}
.chart {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
    border-style: hidden solid solid solid;
    border-width: 1px;
    width: 80%;
    margin-left: 10%;
    align-self: center;
}

.intro {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
    border-style: hidden solid solid solid;
    border-width: 1px;
    width: 80%;
    margin-left: 10%;
    align-self: center;
}

.timeline {
    border-color: #e7e7e7;
    background-color: #f8f8f8;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    align-self: center;
    height: "100px";
    margin-left: 10%;
}

.time_slider_explore {
    cursor: crosshair;
}